/* Fonte Regular: Young Serif */
@font-face {
    font-family: 'Young Serif';
    src: url('/fonts/YoungSerif-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Fonte Outfit - Variável */
@font-face {
    font-family: 'Outfit';
    src: url('/fonts/Outfit-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900; /* Para pesos variáveis */
    font-style: normal;
}

/* Fonte Outfit - Black */
@font-face {
    font-family: 'Outfit';
    src: url('/fonts/Outfit-Black.ttf') format('truetype');
    font-weight: 900; /* Black */
    font-style: normal;
}

/* Fonte Outfit - Bold */
@font-face {
    font-family: 'Outfit';
    src: url('/fonts/Outfit-Bold.ttf') format('truetype');
    font-weight: bold; /* Bold */
    font-style: normal;
}

/* Fonte Outfit - ExtraBold */
@font-face {
    font-family: 'Outfit';
    src: url('/fonts/Outfit-ExtraBold.ttf') format('truetype');
    font-weight: 800; /* ExtraBold */
    font-style: normal;
}

/* Fonte Outfit - ExtraLight */
@font-face {
    font-family: 'Outfit';
    src: url('/fonts/Outfit-ExtraLight.ttf') format('truetype');
    font-weight: 200; /* ExtraLight */
    font-style: normal;
}

/* Fonte Outfit - Light */
@font-face {
    font-family: 'Outfit';
    src: url('/fonts/Outfit-Light.ttf') format('truetype');
    font-weight: 300; /* Light */
    font-style: normal;
}

/* Fonte Outfit - Medium */
@font-face {
    font-family: 'Outfit';
    src: url('/fonts/Outfit-Medium.ttf') format('truetype');
    font-weight: 500; /* Medium */
    font-style: normal;
}

/* Fonte Outfit - Regular */
@font-face {
    font-family: 'Outfit';
    src: url('/fonts/Outfit-Regular.ttf') format('truetype');
    font-weight: 400; /* Regular */
    font-style: normal;
}

/* Fonte Outfit - SemiBold */
@font-face {
    font-family: 'Outfit';
    src: url('/fonts/Outfit-SemiBold.ttf') format('truetype');
    font-weight: 600; /* SemiBold */
    font-style: normal;
}

/* Fonte Outfit - Thin */
@font-face {
    font-family: 'Outfit';
    src: url('/fonts/Outfit-Thin.ttf') format('truetype');
    font-weight: 100; /* Thin */
    font-style: normal;
}
